img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  min-height: 100%;

  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;

  /*@media (min-width: $tablet-width) {
    margin: 0 auto;
  }*/
}
