.button {
  display: block;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #9070EC;
  }

  &:active {
    color: #ffffff;
    background-color: #593CAC;
  }
}

.button--primary {
  color: #ffffff;

  background-color: #7859CF;

  &:disabled {
    background-color: #bdbdbd;
  }
}

.button--secondary {
  color: #7859CF;
  background-color: #ffffff;
}

.button--secondary:disabled {
  color: #ffffff;
  background-color: #E2E2E2;
}
