@use "../global/bootstrap.scss";

.contacts__title {
  margin-bottom: 20px;
}

.contacts__address::before,
.contacts__phone::before {
  position: absolute;
  top: 1px;
  left: 0;

  width: 13px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.contacts__address {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 19px;

  font-style: normal;

  &::before {
    background-image: url("../img/contacts/address.svg");
  }
}

.contacts__phone {
  position: relative;
  padding-left: 19px;

  color: #333333;
  text-decoration: none;

  &::before {
    background-image: url("../img/contacts/phone.svg");
  }
}
