@use "../global/bootstrap.scss";

.filter-form {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 222px);
    column-gap: 31px;
    row-gap: 40px;
    justify-content: space-evenly;

    width: unset;
  }

  @media (min-width: bootstrap.$desktop-width) {
    position: unset;
    grid-template-columns: 318px;
    row-gap: 30px;
  }
}

.filter-form__group {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 0;
  }
}

.filter-form__title {
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

// Слайдер

.filter-form__range {
  margin-top: 20px;
  margin-bottom: 24px;
  margin-right: 17px;
  margin-left: 7px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 20px;
  }
}

.filter-form__field-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 44px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 8px;
    height: 2px;
    background-color: #bdbdbd;
    content: "";
  }
}

.filter-form__field {
  margin: 0;
}

.filter-form__value {
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;

  padding: 8px 10px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  border: 2px solid #9070ec;
  border-radius: 4px;
  background-color: #ffffff;

  &:focus-visible {
    border-color: #593cac;
    outline: none;
  }

  &:disabled {
    color: #e2e2e2;
    border-color: #e2e2e2;
    background-color: #f8f8f8;
  }
}

.filter-form__list {
  @include bootstrap.list-reset;

  margin-top: 20px;
}

// Сортировка

.filter-form__group--sorting {
  display: grid;
  grid-template-columns: 107px 1fr;
  column-gap: 8px;

  position: absolute;
  bottom: -84px;
  left: 0;
  margin-bottom: 16px;
  align-items: baseline;

  @media (min-width: bootstrap.$tablet-width) {
    right: 0;
    left: unset;
  }

  @media (min-width: bootstrap.$desktop-width) {
    top: 224px;
    right: 40px;
    bottom: unset;
    margin-bottom: 30px;
  }
}

.filter-form__select {
  box-sizing: border-box;

  width: 165px;
  min-height: 32px;
  padding: 5px 30px 5px 8px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #7859cf;

  border: none;
  background-color: transparent;

  appearance: none;
  background-image: url("../img/catalog/arrow-select.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center right;
  background-position-x: calc(100% - 10px);

  &:hover,
  &:focus {
    background-color: #f0ebff;
    border-radius: 4px;
  }
}

//Кнопки

.filter-form__button-wrapper {
  @media (min-width: bootstrap.$tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    gap: 20px;

    width: 277px;
    margin: 0 auto;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-top: 10px;
  }
}

.filter-form__button {
  width: 100%;
  padding: 8px 20px;

  & + .filter-form__button {
    margin-top: 20px;

    @media (min-width: bootstrap.$tablet-width) {
      margin-top: 0;
    }
  }
}
