@use "../global/bootstrap.scss";

.main-header {
  width: 100%;
}

.main-header__container {
  position: relative;

  display: grid;
  grid-template-columns: 72px 1fr;

  min-height: 60px;

  @media (min-width: bootstrap.$tablet-width) {
    box-sizing: border-box;

    grid-template-columns: 82px 1fr;
    column-gap: 60px;
    // margin: auto 0;
    // margin-right: 54px;
    padding: 0 20px;
  }

  // @media (min-width: bootstrap.$desktop-width) {
  //   margin-right: 87px;
  // }
}

.main-header__logo-container {
  margin: 12px 20px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: auto 0;
    margin-right: 7px;
  }
}

// .main-header__logo-image {
// }

.main-header__logo-text {
  @media (min-width: bootstrap.$mobile-width) {
    display: none;
  }
}
