@use "../global/bootstrap.scss";

.site-list {
  flex-direction: column;
}

.site-list__item {
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 #F0EBFF, inset 0 1px 0 #F0EBFF;

  &:active {
    @media (max-width: bootstrap.$mobile-width-only) {
      background-color: #F0EBFF;
    }
  }
}

.site-list__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}
