@use "../global/bootstrap.scss";

.site-list {
  flex-direction: column;
  background-color: #ffffff;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
  }

  @media (min-width: bootstrap.$desktop-width) {
    gap: 20px;
  }
}

.site-list__item {
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 #F0EBFF, inset 0 1px 0 #F0EBFF;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 32px 20px;
    box-shadow: none;

    &--current {
      border-bottom: 2px solid #7859CF;
    }
  }

  &:active {
    @media (min-width: bootstrap.$mobile-width) {
      background-color: #F0EBFF;
    }
  }

  &:active .site-list__link,
  &:hover .site-list__link,
  &:focus .site-list__link {
    @media (min-width: bootstrap.$tablet-width) {
      color: #7859CF;
    }
  }
}

.site-list__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}
