@use "../global/bootstrap.scss";

.slider {
  box-sizing: border-box;
  width: 100%;
}

.slider__list {
  @include bootstrap.list-reset;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 188px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 0;
  }
}

.slider__item {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  min-width: 320px;
  min-height: 656px;
  padding-bottom: 40px;

  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    min-width: 768px;
    min-height: 640px;
    padding-top: 60px;
    padding-bottom: 0;

    &::after {
      position: absolute;
      bottom: 188px;
      left: 0;
      width: 100%;
      min-height: 188px;
      content: "";
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 625px);
    grid-template-rows: repeat(4, min-content);
    column-gap: 30px;
    justify-content: center;

    min-width: 1440px;
    min-height: 600px;
    padding: 30px 80px 84px;

    text-align: left;

    &::after {
      display: none;
    }
  }
}

.slider__item--decaf {
  background-color: #f3ebe1;
}

.slider__item--lavender {
  background-color: #eae6fc;
}

.slider__item--espresso {
  background-color: #e5e6e8;
}

.slider__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 20px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #333333;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 16px;
    padding: 0 60px;

    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: fit-content;
    padding: 0;
  }
}

.slider__badge {
  margin-bottom: 4px;
  padding: 0 20px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #7859cf;
  text-transform: uppercase;

  order: -1;

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: fit-content;
    margin-top: 150px;
    padding: 0;
  }
}

.slider__description {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0 80px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-bottom: 40px;
    padding: 0;
    padding-right: 95px;
  }
}

// Цена

.slider__price-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: baseline;
  min-width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: bootstrap.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0;
    margin-bottom: 158px;
  }
}

.slider__price {
  margin-right: 6px;

  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: #7859cf;
}

.slider__price-discount {
  margin-right: 20px;

  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.slider__price-button {
  padding: 8px 20px;
}

// Изображение товара

.slider__image-container {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 0;

  order: -2;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0 80px;
    order: 2;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-row: 1 / 5;
    margin-bottom: 0;
    padding: 0;
    order: -2;
  }
}

.slider__image {
  margin: 0 auto;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: -188px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin: 0;
    margin-left: auto;
  }
}

// КНОПКИ ПЕРЕКЛЮЧЕНИЯ СЛАЙДЕРА

.slider__button {
  display: block;

  position: absolute;
  top: 23px;

  width: 20px;
  height: 100%;
  padding: 0;
  border: none;
  z-index: 2;
  color: #7859cf;
  background-color: transparent;

  &:disabled .slider__button-icon {
    color: #bdbdbd;
  }

  @media (min-width: bootstrap.$tablet-width) {
    width: 80px;
  }
}

// Кнопка назад

.slider__button--prev {
  left: var(--swiper-navigation-sides-offset, 0);

  &:hover,
  &:focus {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}

// Кнопка вперед

.slider__button--next .slider__button-icon {
  transform: rotate(180deg);
}

.slider__button--next {
  right: var(--swiper-navigation-sides-offset, 0);

  &:hover,
  &:focus {
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(
      270deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}

// ПАГИНАЦИЯ СЛАЙДЕРА

.slider__pagination {
  @media (min-width: bootstrap.$mobile-width) {
    display: none;
  }

  @media (min-width: bootstrap.$desktop-width) {
    display: block;
  }
}
