@use "../global/bootstrap.scss";

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 60px;
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;

  background-color: white;
  opacity: 1;
  border-radius: unset;

  &:hover,
  &:focus {
    background-color: #7859CF40;
  }
}

.swiper-pagination-bullet-active {
  background-color: #7859cf;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-top: 10px;
  margin-bottom: 10px;
}
